*.class
*.ctxt
*.ear
*.iws
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.cache
.history
.idea/$CACHE_FILE$
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sonarIssues.xml
.idea/**/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/codestream.xml
.idea/httpRequests
.idea/replstate.xml
.idea_modules/
.lib/
.mtj.tmp/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
atlassian-ide-plugin.xml
buildNumber.properties
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
dist/*
fabric.properties
hs_err_pid*
lib_managed/
out/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
project/boot/
project/plugins/project/
release.properties
src_managed/
target/
